<% @users.each do |user| %>
  <div class= 'user_profile'>
    <%= image_tag(user.photo, :size => "80x110", :alt => "#{user.name}", :title => "Profile Picture") %>
   <h2>
    <%=link_to user.name, user_path(id: user.id), :class => 'btn btn-light' %>
  </h2>
  <p  class="btn btn-light">
  
    Number of Posts: <span class="btn btn-success"><%= user.posts_count %></span>
  </p>
  </div> 
<%end%>
